SPRING_PROFILES_ACTIVE=local

# MySQL container
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=orino
MYSQL_USER=
MYSQL_PASSWORD=

# Spring Boot datasource
MYSQL_HOST=localhost:3306/orino
MYSQL_USERNAME=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
